<div class="auth-wrapper">
  <div class="auth-content">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmitEmail()">
      <div class="auth-bg">
        <span class="r"></span>
        <span class="r s"></span>
        <span class="r s"></span>
        <span class="r"></span>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <div class="mb-4">
            <i class="feather icon-unlock auth-icon"></i>
          </div>
          <h3 class="mb-4">Reset Password</h3>

           <div *ngIf="step === 1">
    <div class="input-group mb-3">
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        formControlName="email"
        required
      />
    </div>
    <div *ngIf="submitted && resetForm.controls['email'].invalid" class="text-danger mb-2">
      Please enter a valid email.
    </div>
    <button class="btn btn-primary mb-2" type="submit" [disabled]="resetForm.get('email')?.invalid">
      Send Code
    </button>
  </div>

          <!-- Step 2: Enter Code -->
          <div *ngIf="step === 2">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Enter verification code"
                formControlName="resetCode"
                required
              />
            </div>
            <button class="btn btn-primary mb-2" (click)="onVerifyCode()" type="button">
              Verify Code
            </button>
            <div>
              <a href="#" (click)="onResendCode()" class="small">Code not received? Resend</a>
            </div>
          </div>

          <!-- Step 3: Reset New Password -->
          <div *ngIf="step === 3">
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="New Password"
                formControlName="newPassword"
                required
              />
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Confirm Password"
                formControlName="confirmPassword"
                required
              />
            </div>
            <button class="btn btn-success mb-2" (click)="onResetPassword()" type="button">
              Update Password
            </button>
          </div>

          <!-- Messages -->
          <div *ngIf="message" class="alert alert-success mt-2">{{ message }}</div>
          <div *ngIf="error" class="alert alert-danger mt-2">{{ error }}</div>

          <p class="mb-2 text-muted">
            Remembered your password?
            <a [routerLink]="['/']">Login</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
