<div class="row">
    <div class="col-sm-12">
      <app-card>
           <form [formGroup]="createDealForm" (ngSubmit)="onSubmit()">
            <div class="col-sm-8" style="display: flex;">
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="dealName" formControlName="dealName" name="dealName"
                        placeholder="Enter Deal Name">
                </div>
                <div class="col-sm-4" style="align-content: center;">
                    <label id="dealId" class="form-control" formControlName="dealId"  placeholder="Generated Deal Nameber"
                    ngDefaultControl>
                        {{dealNum}}</label>
                </div>
            </div>
            <div class="col-sm-12" style="display: flex;border-color: black;">

                <div class="form-group" class="col-sm-4">
                    <select class="selectpicker" formControlName="pipelineOptions" (change)="warehouseSet()">
                        <option disabled value="-1" style="color: black;">Select Pipeline</option>
                        <option *ngFor="let item of bitrixPipelineList" [value]="item.id" style="color: black;">{{
                            item.name }} </option>
                    </select>

                </div>
                <div class="form-group" class="col-sm-4">
                    <!--  <label>Customer*</label>-->
                    <select class="selectpicker" formControlName="customersOptions" id="customersOptions"
                        data-live-search="true" required (change)="onCustomersChange($event)"
                        placeholder="Select Customer">
                        <option disabled [value]="0" style="color: black;">Select Customer</option>
                        <option *ngFor="let item of bitrixCustomers" [value]="item.id" style="color: black;">{{
                            item.name }} </option>
                    </select>
                </div>
                <div class="form-group" class="col-sm-3">
                    <!--<label>Stores*</label>-->
                    <!--LABELS REMOVED & ADDED DISABLED VALUE, BORDER-RADIUS -->
                    <!-- <select matNativeControl formControlName="storesOptions" required (change)="warehouseCheck()" -->

                    <select class="selectpicker" formControlName="storesOptions" required (change)="onStoreChange($event)">
                        <option disabled value="0" style="color: black;">Select Warehouse</option>
                        <option *ngFor="let item of bitrixStores" [value]="item.id" style="color: black;">{{ item.name
                            }}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div style="margin: 10px; text-align: left;">
                    <!--class="col-sm-18"-->
                    <button type="button" class="btn btn-primary col-sm-1.5" (click)="onAddProductRoe()">Add
                        Product</button>
                    <button type="button" class="btn btn-primary  col-sm-1.5" (click)="onDeleteProductRowClick()">Remove
                        Product</button>
                    <!--<label for="subtotal" style="font-size: 15px;" class="col-sm-1.5">Subtotal :</label>
                <label for="subtotal" style="font-size: 15px; align-content: left;" class="col-sm-1">{{finalTotal}}</label>
                <input type="text" id="subtotal" name="subtotal" size="10" disabled><br><br>

                <label for="gst" style="font-size: 15px;" class="col-sm-1">GST :</label>
                <label for="gst" style="font-size: 15px; text-align: left;" class="col-sm-1">{{calGST}}</label>
                <input type="text" id="gst" name="stotal" size="10" disabled><br><br>-->

                    <label for="finaltotal" style="font-size: 15px;" class="col-sm-1">Total :</label>
                    <label for="finaltotal" id="ftotal" style="font-size: 15px; text-align: left;"
                        class="col-sm-2">{{ftotal}}</label>
                    <!--<input type="text" id="finaltotal" name="finaltotal" size="10" disabled><br><br>-->
                    <button type="submit" [disabled]="isLoading" class="btn btn-primary col-sm-1.5"
                        (click)="validateCustomer()">Create</button>

                </div>
            </div>
            <div class="col-sm-12">
                <label id="errorMsg" name="errorMsg" *ngIf="errorDisplayMsg"
                    style="font-weight: bold;background-color: red; color: white;">{{ errorDisplayMsg }}</label>
            </div>

            <div class="col-sm-12">
                <ag-grid-angular #agGrid style="width: 100%; height: 385px; "
                    (cellValueChanged)="onGridValueChanged($event)" class="ag-theme-alpine" [columnDefs]="colDefs"
                    [rowData]="rowData" [gridOptions]="gridOptions" [rowSelection]="rowSelection" />
                <!-- [rowData]="productRowData"
                [columnDefs]="colDefs" -->
            </div>

            <div class="form-group col-sm-12">
                <button type="button" class="btn btn-primary col-sm-1.5" (click)="onresetForm()">Reset</button>
                <input class="col-sm-1.5" type="text" id="updateDealnum" formControlName="updateDealnum" size="20"
                    placeholder="Search Deal#">
                <!--<button type="button" class="btn btn-primary col-sm-1.5" (click)="onDealAction()"> {{ isDealFetched ? 'Update Deal' : 'Fetch Deal' }}</button>-->
                <button type="button" class="btn btn-primary col-sm-1.5" (click)="onDealAction()">Fetch Deal</button>
                <button type="button" class="btn btn-primary col-sm-1.5" [disabled]="updatDealDisable"
                    (click)="onUpdateDealData()"> Update Deal</button>
                <button type="button" class="btn btn-primary" (click)="onExport()">Export</button>
                <label id="listcount" formControlName="listcount"
                     class="col-sm-1" ngDefaultControl>{{
                    numberOfRows }}</label>
            </div>
        </form>
    </app-card>
</div>
</div>
