.invalid-select{
    border:1px solid red;
}

.ag-theme-alpine {
  background-color: #f0f0f0; /* Replace with your desired color */
}

.deal-name{
display:flex;
padding-top: 20px;
color: rgb(0, 0, 139);
}

/*
.col-sm-12{
  display: flex; border-radius: 1rem; border: 1px solid #28a745; background-color: #d2edee;
}
*/